<html>

<head>

    <meta charset="UTF-8">
    <title>tcp ml api</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>

<body>
    <div class="login">

        <h1><b> Tcp web application </b></h1>
    
        <form action="{{ url_for('prediction')}}"method="post">
          <input type="text" name="channel" placeholder="channel" required="required" /><br><br>
            <input type="text" name="budget" placeholder="budget" required="required" /><br><br>
            <input type="text" name="year" placeholder="year" required="required" /><br><br>
            <input type="text" name="month" placeholder="month" required="required" /><br><br>
            <input type="text" name="day" placeholder="day" required="required"/><br><br> 
    
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict-sessions</button>
        </form>
       <br>
       <br>
         
     </div>
     <b>{{show_results}}</b>




</body>
</html>